<!DOCTYPE html>
<html lang="pt-BR" ng-app="Filmes">
<head>
    <meta charset="UTF-8">
    <title>Filmes que já assisti</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="js/angular.min.js"></script>
    <script src="js/filmes.module.js"></script>
    <script src="js/filmes.controller.js"></script>
    <script src="js/filme.directive.js"></script>
    <script src="js/filmes.factory.js"></script>
</head>
<body ng-controller="FilmesController">
<div class="container">
    <h1>{{titulo}}</h1>

    <div class="lista-filmes">
        <dir-filme item="f" fn-fechar="removerFilme(f.id)" ng-repeat="f in filmes"></dir-filme>
    </div>

    <hr>

    <form name="formulario" class="form-filmes" ng-submit="adicionarFilme()" novalidate>
        <h1>Adicionar Filme</h1>
        <div class="form-campo">
            <label for="titulo">Título</label>
            <input type="text" name="titulo" id="titulo" ng-model="novoFilme.titulo" required>
            <div ng-if="(formulario.titulo.$touched || formulario.titulo.$submitted)&& formulario.titulo.$invalid">
                <span>Este campo é obrigatório</span>
            </div>
        </div>
        <div class="form-campo pequeno">
            <label for="ano">Ano de Lançamento</label>
            <input type="number" name="ano" id="ano" ng-model="novoFilme.ano" required>
            <div ng-if="(formulario.ano.$touched || formulario.ano.$submitted)&& formulario.ano.$invalid">
                <span>Este campo é obrigatório</span>
            </div>
        </div>
        <div class="form-campo medio">
            <label for="produtora">Produtora</label>
            <input type="text" name="produtora" id="produtora" ng-model="novoFilme.produtora" required>
            <div ng-if="(formulario.produtora.$touched || formulario.produtora.$submitted)&& formulario.produtora.$invalid">
                <span>Este campo é obrigatório</span>
            </div>
        </div>
        <div class="form-campo">
            <label for="cartaz">Url do Cartaz</label>
            <input type="text" name="cartaz" id="cartaz" ng-model="novoFilme.cartaz" required>
            <div ng-if="(formulario.cartaz.$touched || formulario.cartaz.$submitted)&& formulario.cartaz.$invalid">
                <span>Este campo é obrigatório</span>
            </div>
        </div>
        <div class="form-campo">
            <label for="sinopse">Sinópse</label>
            <textarea name="sinopse" id="sinopse" rows="5" ng-model="novoFilme.sinopse" required></textarea>
            <div ng-if="(formulario.sinopse.$touched || formulario.sinopse.$submitted)&& formulario.sinopse.$invalid">
                <span>Este campo é obrigatório</span>
            </div>
        </div>

        <footer>
            <button type="reset" ng-click="resetForm()">Limpar</button>
            <button type="submit">Salvar</button>
        </footer>
    </form>
</div>

</body>
</html>